<!DOCTYPE html>
<html lang="KO">
    <head>
        <meta charset="UTF-8" />
        <title>동서대학교 AI 작사 작곡</title>
        <link rel="stylesheet" href="/stylesheets/detail.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>

        <div id="navbar">
            <div class="wrap">
                <!-- #item*14 또는 div.item*14 -->
                <div class="item_logo">
                    <img src="images/music.jpg">
                </div>
                <div class="item">
                  <a href="/"><font size = "3vw" color = "white">홈</font> </a>
                </div>
                <div class="item">
                  <a href="/composer"><font size = "3vw" color = "white">작곡실</font> </a>
                </div>
                <div class="item">
                  <a href="/writing"><font size = "3vw" color = "white">작사실</font> </a>
                </div>
                <div class="item">
                  <a href="/#"><font size = "3vw" color = "white">작사 자판기</font> </a>
                </div>
                <div class="item">
                  <a href="/"><font size = "3vw" color = "white">도움말</font> </a>
                </div>
            </div>
        </div>

        <div id="content">
                <div id="tradein" class="item light large">
                  <div class="title_box"></div>
                  <div class="link">
                    <a href="https://www.dongseo.ac.kr/kr/">
                      <font size="10vw" color="white">
                        <strong>동서대학교</strong>
                      </font>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>
